html{
        overflow-x: hidden;
}
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
}

header h3{
    display: inline;
    margin-right: auto;
    padding-left:10%;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

#icon {
    font-size: 24px;
    padding-right: 10%;
    margin-left:auto;
    cursor: pointer;
}

.sidebar {
    position:fixed;
    top: 0;
    right: -450px;
    width: 300px;
    height: 100%;
    background-color:black;
    color: white;
    transition: right 0.5s;
    padding: 20px;
    z-index: 1;

}


header ul li a:hover{
    color: blue;

}


header ul li a{
    list-style-type: none;
    cursor: pointer;
    margin: 20px;
   text-decoration: none;
   color: white;
}

header ul li{
    list-style-type: none;
    cursor: pointer;
    margin: 20px;
   
}

#close {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.see{
    right:0;
}


section{
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

section h1{
    font-weight: bold;
    font-size: 36px;
}

section h3{
    font-weight: 400;
    color:#828282;
    font-size: 1rem;
    margin-left:3px;
    margin-top: -25px;
}

#women{
    margin-left:7px;
}

.image-container{
    margin-top:50px;
    display: flex;
    justify-content: center;
    width:100%;
    height:auto;
}

section img{
    width:400px;
    height: auto;
}

article{
    margin-top: 20px;
    text-align: left;
    padding: 20px;
}

article p {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
}

article em{
    font-weight: 400;
    color: #828282;
}

article span{
    font-size: 2rem;
}

article em::before{
    content: "“";
    font-size: 1rem;
}

article em::after{
    content:"”";
    font-size: 1rem;
    
}

footer{
    position: static;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 350px;
    background-color: #000;
    margin-top: 30px;
}

footer h3{
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
}

footer img{
    position: relative;
    width:32px;
    left:-110px;
    top:30px;
    cursor: pointer;
}
#fb{
    width:26px;
    height: 24px;
    left:-100px;
}

#email{
    width:28px;
    left:-95px;
}

#workplace-img{
    width:500px;
    height: auto;
}

strong{
    font-size: 1.1rem;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: inherit; 
    text-decoration: none; 
}

.sub-head{
    font-size: inherit;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 3px solid #f1f1f1; /* Space around the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}

.bio {
    width: 80%;
    display: flex; 
    align-items: center; 
    padding: 10px;
    box-sizing: border-box; 
}

.bio img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0; 
}

.bio p {
    margin: 0; 
    font-size: 12px;
    font-weight: 600;
    color: #000;
}

#names{
    font-size: 15px;
    font-weight: 600;
    display: block;
    text-align: center;
    position: relative;
    bottom:5vh;
}

.change{
    display: grid;
    place-items: center;
}



/* .about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-us h1{
    margin-right: auto;
} */


 /* Animation */

@keyframes slideLeftIn {
    from{
            transform: translateX(-300px);
    }
    to{
            transform: translateX(0px);

    }
    
 }

 @keyframes fadeIn {
    from{
            transform: translateY(200px);
            opacity: 0;
    }
    to{
            transform: translateY(0);
            opacity: 100%;
    }
}

.in-view.animate {
    animation: slideLeftIn 0.7s ease-in forwards;
}

.in-view.animateText {
    animation: fadeIn 1s ease forwards;
}

@media screen and (max-width: 768px) {
    header{
        background-color: #000;
        color:white;
    }
    section img{
        width:300px;
        height: auto;
    }
    footer h3{
        padding-left:100px;
    }

    header h3{
        padding-left: 5%;
    }
    #icon{
        padding-right:5%;
    }
    #workplace-img{
        width:350px;
    }
    .bio{
        width:100%;
        flex-direction: column;
        gap:20px;
        justify-content: center;
        text-align: center;
    }
    #names{
        bottom:0vh;
    }
    .sidebar{
        width:200px;
    }
}    