body{
    overflow-x: hidden;
}
.sidebar {
    position:fixed;
    top: 0;
    right: -450px;
    width: 300px;
    height: 100%;
    background-color:black;
    color: white;
    transition: right 0.5s;
    padding: 20px;
    z-index: 1000;

}


ul li a:hover{
    color: blue;

}


ul li a{
    list-style-type: none;
    cursor: pointer;
    margin: 20px;
   text-decoration: none;
   color: white;
}

ul li{
    list-style-type: none;
    cursor: pointer;
    margin: 20px;
   
}

#icon {
    position: absolute;
    top: 20px;
    right: 180px;
    font-size: 24px;
    cursor: pointer;
}

#close {
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.see{
    right:0;
}
